{% extends "base.html" %}
{% block content %}

    <div class="container">
      <div class="starter-template">
        <h1>Svi mobiteli</h1>
        <p class="lead">Mobiteli</p>
        <ul>
            {% for phone in phones %}
            <li>
            {{phone.phone_id}}
            </li>
            <li>
            {{phone.android_version}}
            </li>
            </br>
            {% endfor %}
            {{ phones.count() }}
        </ul>
      </div>
    </div><!-- /.container -->
{% endblock %}
